<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
   <!-- <link href="css/dash.css" rel="stylesheet" /> -->

    <title>TOROFX</title>
</head>
<body>
     <!-- begin footer -->
     <footer class="footer">
        <div class="row">
            <div class="col-12 col-sm-6 text-center text-sm-left">
                <p>&copy; Copyright 2019. All rights reserved.</p>
            </div>
            <div class="col  col-sm-6 ml-sm-auto text-center text-sm-right">
                <p>Developed<i class="fa fa-heart text-danger mx-1"></i> by AppsImagica</p>
            </div>
        </div>
    </footer>
    <!-- end footer -->


     
</body>
</html>

