<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TOROFX</title>
    <link href="/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <aside class="app-navbar">
      <!-- begin sidebar-nav -->
      <div class="sidebar-nav scrollbar scroll_light">
        <ul class="metismenu" id="sidebarNav" style="margin-top: 10px">
          <li class="nav-static-title">Personal</li>

          <li>
            <a href="/index" aria-expanded="false"
              ><i class="nav-icon ti ti-home"></i
              ><span class="nav-title">Home</span></a
            >
          </li>

          <li>
            <a href="/app-chat" aria-expanded="false"
              ><i class="nav-icon ti ti-comment"></i
              ><span class="nav-title">Live Chats</span></a
            >
          </li>
          <li>
            <a href="/subscribers" aria-expanded="false"
              ><i class="nav-icon ti ti-receipt"></i
              ><span class="nav-title">Users</span></a
            >
          </li>

          <li>
            <a class="has-arrow" href="/course-page" aria-expanded="false"
              ><i class="nav-icon ti ti-book"></i
              ><span class="nav-title">Course</span></a
            >
            <ul aria-expanded="false">
              <li>
                <a href="/course-page"
                  ><i class="nav-icon ti ti-notepad"></i> Main Program</a
                >
              </li>

              <li>
                <a href="/final"
                  ><i class="nav-icon ti ti-layout-media-overlay-alt-2"></i
                  >Final Exam</a
                >
              </li>
              <li>
                <a href="/assistant"
                  ><i class="nav-icon ti ti-comments-smiley"></i>My Assistant</a
                >
              </li>
            </ul>
          </li>

          <li>
            <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"
              ><i class="nav-icon ti ti-pie-chart"></i
              ><span class="nav-title">Charts</span></a
            >
            <ul aria-expanded="false">
              <li><a href="/Charts">Charts</a></li>
            </ul>
            <ul aria-expanded="false">
              <li><a href="/static-charts">Static Charts</a></li>
            </ul>
            <ul aria-expanded="false">
              <li><a href="/chart-apex">Apex Chart</a></li>
            </ul>
          </li>
          <li>
            <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"
              ><i class="nav-icon ti ti-harddrives"></i
              ><span class="nav-title">Library</span></a
            >
            <ul aria-expanded="false">
              <li><a href="/Library">Library</a></li>
            </ul>
          </li>
          <li>
            <a class="has-arrow" href="/" aria-expanded="false">
              <i class="nav-icon ti ti-video-camera"></i>
              <span class="nav-title">Live Streams</span>
            </a>
          </li>
          <li>
            <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"
              ><i class="nav-icon ti ti-write"></i
              ><span class="nav-title">Risk Calculation</span></a
            >
            <ul aria-expanded="false">
              <li><a href="/calculator">Calculator</a></li>
            </ul>
          </li>
          <li>
            <a href="/setting" aria-expanded="false"
              ><i class="nav-icon ti ti-settings"></i
              ><span class="nav-title">Account Settings</span></a
            >
          </li>

          <li>
            <a href="/support"
              ><i class="nav-icon ti ti-headphone-alt"></i
              ><span class="nav-title">Support</span></a
            >
          </li>
          <li>
            <a href="/logout"
              ><i class="nav-icon ti ti-shift-right"></i
              ><span class="nav-title">Logout</span></a
            >
          </li>
        </ul>
      </div>
      <!-- end sidebar-nav -->
    </aside>
  </body>
</html>
